<ng-container>
  <form [formGroup]="createAircraftFormGroupe" (ngSubmit)="createPlane()" class="bg-white p-4 rounded shadow w-50 m-auto">
    <label for="name" class="text-gray-500 mb-2">Aircraft Name</label>
    <input
      type="text"
      class="form-control mb-5"
      id="name"
      name="name"
      required
      formControlName="prog"
      />
    <fieldset class="relative z-0 w-full p-px mb-5">
      <legend class="absolute text-gray-500 transform scale-75 -top-3 origin-0">Design</legend>
      <div class="block pt-3 pb-2 space-x-4">
        <label>
          <input
            type="radio"
            name="design"
            value="1"
            class="mr-2 text-black border-2 border-gray-300 focus:border-gray-300 focus:ring-black"
            formControlName="design"
          />
          In progress
        </label>
        <label>
          <input
            type="radio"
            name="design"
            value="2"
            class="mr-2 text-black border-2 border-gray-300 focus:border-gray-300 focus:ring-black"
            formControlName="design"
          />
          Done
        </label>
      </div>
      <span class="text-sm text-red-600 hidden" id="error">Option has to be selected</span>
    </fieldset>

    <fieldset   class="relative z-0 w-full p-px mb-5">
      <legend class="absolute text-gray-500 transform scale-75 -top-3 origin-0">Developpment</legend>
      <div class="block pt-3 pb-2 space-x-4" >
        <label>
          <input
            type="radio"
            name="developpment"
            value="1"
            class="mr-2 text-black border-2 border-gray-300 focus:border-gray-300 focus:ring-black"
            formControlName="developpment"
          />
          In progress
        </label>
        <label>
          <input
            type="radio"
            name="developpment"
            value="2"
            class="mr-2 text-black border-2 border-gray-300 focus:border-gray-300 focus:ring-black"
            formControlName="developpment"
          />
          Done
        </label>
      </div>
      <span class="text-sm text-red-600 hidden" id="error">Option has to be selected</span>
    </fieldset>

    <fieldset formGroupName = "options">
      <legend class="text-lg font-medium mb-2">Sélectionnez les options a ajouter :</legend>
      <div  class="flex flex-col">

        <label class="inline-flex items-center mt-3">
          <input
            type="checkbox"
            name="wings"
            class="form-checkbox h-5 w-5 text-green-500"
            value="wings"
            formControlName="wings"

            >
          <span class="ml-2 text-gray-700">Ailes</span>
        </label>

        <label class="inline-flex items-center mt-3">
          <input
            type="checkbox"
            name="engines"
            class="form-checkbox h-5 w-5 text-green-500"
            value="engines"
            formControlName="engines"
            >
          <span class="ml-2 text-gray-700">Moteurs</span>
        </label>

        <label class="inline-flex items-center mt-3">
          <input
            type="checkbox"
            name="tail"
            class="form-checkbox h-5 w-5 text-green-500"
            value="tail"
            formControlName="tail"
            >
          <span class="ml-2 text-gray-700">Empennage</span>
        </label>

        <label class="inline-flex items-center mt-3">
          <input
            type="checkbox"
            name="landingGear"
            class="form-checkbox h-5 w-5 text-green-500"
            value="landing-gear"
            formControlName="landingGear"
            >
          <span class="ml-2 text-gray-700">Train d'atterrissage</span>
        </label>

        <label class="inline-flex items-center mt-3">
          <input
            type="checkbox"
            name="cockpit"
            class="form-checkbox h-5 w-5 text-green-500"
            value="cockpit"
            formControlName="cockpit"
            >
          <span class="ml-2 text-gray-700">Cockpit / Cabine de pilotage</span>
        </label>
      </div>
    </fieldset>
    <button type="submit" class="bg-sky-600 text-white p-2 rounded-lg mt-5">Valider</button>
    <button type="submit" class="bg-red-600 text-white p-2 rounded-lg ml-5 mt-5">Annuler</button>
  </form>


</ng-container>

